<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Sefin.Importer.ImportFilePath" value="../../../data/import" />
    <add key="Sefin.Importer.StagingFilePath" value="../../../data/staging" />
    <add key="Sefin.Importer.CompleteFilePath" value="../../../data/complete" />
  </appSettings>
</configuration>
