<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MainConnection" providerName="System.Data.SqlClient" 
         connectionString="Data Source=.;Database=sfn_import;Trusted_Connection=True;application name=sfn" />
  <!--<add name="MainConnection" providerName="System.Data.SqlClient" 
         connectionString="Data Source=.;Database=sfn_import;Trusted_Connection=True;application name=sfn;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <appSettings>
    <add key="Sefin.Importer.ImportFilePath" value="../../../data/import" />
    <add key="Sefin.Importer.StagingFilePath" value="../../../data/staging" />
    <add key="Sefin.Importer.CompleteFilePath" value="../../../data/complete" />
  </appSettings>
</configuration>
